[submodule "Libraries/OSharp.Storyboard"]
	path = Libraries/OSharp.Storyboard
	url = https://github.com/Milkitic/OSharp.Storyboard
	branch = master
[submodule "Libraries/OSharp.Common"]
	path = Libraries/OSharp.Common
	url = https://github.com/Milkitic/OSharp.Common
	branch = master
[submodule "Libraries/OSharp.Beatmap"]
	path = Libraries/OSharp.Beatmap
	url = https://github.com/Milkitic/OSharp.Beatmap
	branch = master
[submodule "Libraries/Milki.Extensions.Audio"]
	path = Libraries/Milki.Extensions.Audio
	url = https://github.com/Milkitic/Milki.Extensions.Audio.git
	branch = master
