<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <extensions>
    <add assembly="Sentry.NLog" />
  </extensions>
  <targets>
    <target name="logfile" xsi:type="File" fileName="logs/${date:format=yyyy-MM-dd}.log" encoding="UTF8"
            header="================ ${date:format=yyyy-MM-dd APPLICATION LOG} ================"
            layout="${date:format=yyyy-MM-dd HH\:mm\:ss}|${level:uppercase=true}|${logger}+${callsite:className=false:includeSourcePath=false:methodName=true:cleanNamesOfAnonymousDelegates=true:cleanNamesOfAsyncContinuations=true}|${message}${onexception:inner=${newline}${newline}======== Start of exception stacktrace ========${newline}${exception:format=tostring}${newline}======== End of exception stacktrace ========${newline}}"/>
    <target name="logconsole" xsi:type="ColoredConsole"
            layout="[${date:format=HH\:mm\:ss.fff}] ${level}　${logger}: ${message}${onexception:inner=${newline}${exception:format=tostring}}">
      <highlight-row condition="level == LogLevel.Fatal" foregroundColor="White" backgroundColor="Red"/>
      <highlight-row condition="level == LogLevel.Error" foregroundColor="Red" backgroundColor="Black"/>
      <highlight-row condition="level == LogLevel.Warn" foregroundColor="DarkYellow" backgroundColor="Black"/>
      <highlight-row condition="level == LogLevel.Info" foregroundColor="Gray" backgroundColor="Black"/>
      <highlight-row condition="level == LogLevel.Debug" foregroundColor="DarkGray" backgroundColor="Black"/>
      <highlight-word regex=" Info　" foregroundColor="Green" />
      <highlight-word regex="(?!: )Warn(?=　)" foregroundColor="Black" backgroundColor="DarkYellow" />
      <highlight-word regex="(?!: )Error(?=　)" foregroundColor="Black" backgroundColor="Red" />
      <highlight-word regex="(?!: )Fatal(?=　)" foregroundColor="Black" backgroundColor="DarkRed" />
    </target>
    <target name="logconsolesimple" xsi:type="ColoredConsole"
            layout="[${date:format=HH\:mm\:ss.fff}] ${level}　${logger}: ${message}">
      <highlight-row condition="level == LogLevel.Fatal" foregroundColor="White" backgroundColor="Red"/>
      <highlight-row condition="level == LogLevel.Error" foregroundColor="Red" backgroundColor="Black"/>
      <highlight-row condition="level == LogLevel.Warn" foregroundColor="DarkYellow" backgroundColor="Black"/>
      <highlight-row condition="level == LogLevel.Info" foregroundColor="Gray" backgroundColor="Black"/>
      <highlight-row condition="level == LogLevel.Debug" foregroundColor="DarkGray" backgroundColor="Black"/>
      <highlight-word regex=" Info　" foregroundColor="Green" />
      <highlight-word regex="(?!: )Warn(?=　)" foregroundColor="Black" backgroundColor="DarkYellow" />
      <highlight-word regex="(?!: )Error(?=　)" foregroundColor="Black" backgroundColor="Red" />
      <highlight-word regex="(?!: )Fatal(?=　)" foregroundColor="Black" backgroundColor="DarkRed" />
    </target>
    <target name="logconsoleraw" xsi:type="Console" layout="${message}">
    </target>
    <target name="logconsolerawme" xsi:type="ColoredConsole" layout="${message}">
      <highlight-row foregroundColor="DarkGray" backgroundColor="Black"/>
    </target>
  </targets>
  <rules>
    <logger name="raw" minlevel="Debug" writeTo="logconsoleraw" final="true" />
    <logger name="raw_me" minlevel="Debug" writeTo="logconsolerawme" final="true" />
    <logger name="Microsoft.*" maxlevel="Debug" final="true" />
    <logger name="*" minlevel="Debug" writeTo="logconsole">
      <filters defaultAction="Log">
        <when condition="contains('${message}','[WEBSOCKET CLIENT]')" action="IgnoreFinal"/>
      </filters>
    </logger>
    <logger name="*" minlevel="Info" writeTo="logfile" />
  </rules>
</nlog>