<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <extensions>
    <add assembly="Sentry.NLog" />
  </extensions>
  <targets>
    <target name="logfile" xsi:type="File" fileName="logs/${date:format=yyyy-MM-dd}.log" encoding="UTF8"
            header="================ ${date:format=yyyy-MM-dd APPLICATION LOG} ================"
            layout="${date:format=yyyy-MM-dd HH\:mm\:ss}|${level:uppercase=true}|${logger}+${callsite:className=false:includeSourcePath=false:methodName=true:cleanNamesOfAnonymousDelegates=true:cleanNamesOfAsyncContinuations=true}|${message}${onexception:inner=${newline}${newline}======== Start of exception stacktrace ========${newline}${InvariantCulture:${exception:format=tostring}}${newline}======== End of exception stacktrace ========${newline}}"/>
    <target name="logconsole" xsi:type="ColoredConsole"
            layout="[${date:format=HH\:mm\:ss}] ${logger}+${callsite:className=false:includeSourcePath=false:methodName=true:cleanNamesOfAnonymousDelegates=true:cleanNamesOfAsyncContinuations=true}: ${message}${onexception:inner=${newline}${exception:format=tostring}}">
      <highlight-row condition="level == LogLevel.Fatal" foregroundColor="White" backgroundColor="Red"/>
      <highlight-row condition="level == LogLevel.Error" foregroundColor="Red" backgroundColor="Black"/>
      <highlight-row condition="level == LogLevel.Warn" foregroundColor="DarkYellow" backgroundColor="Black"/>
      <highlight-row condition="level == LogLevel.Info" foregroundColor="Gray" backgroundColor="Black"/>
      <highlight-row condition="level == LogLevel.Debug" foregroundColor="DarkGray" backgroundColor="Black"/>
    </target>
    <!--https://docs.sentry.io/platforms/dotnet/nlog/-->
    <!--<target xsi:type="Sentry" name="sentry"
            dsn="https://1fe13baa86284da5a0a70efa9750650e:fcbd468d43f94fb1b43af424517ec00b@sentry.io/1412154"
            layout="${message}"
            breadcrumbLayout="${message}"
            ignoreEventsWithNoException="true"
            initializeSdk="true"
            minimumBreadcrumbLevel="Debug"
            minimumEventLevel="Error">
      --><!-- Advanced options can be configured here--><!--
      --><!--<options
        environment="Development"
        attachStacktrace="true" 
        sendDefaultPii="true"
        shutdownTimeoutSeconds="5">
        --><!--Advanced options can be specified as attributes or elements--><!--
        <includeEventDataOnBreadcrumbs>true</includeEventDataOnBreadcrumbs>
      </options>--><!--

      --><!--Add any desired additional tags that will be sent with every message --><!--
      --><!--<tag name="logger" layout="${logger}" />--><!--
    </target>-->
  </targets>
  <rules>
    <logger name="*" minlevel="Debug" writeTo="logconsole" />
    <logger name="*" minlevel="Info" writeTo="logfile" />
    <!--<logger name="*" minlevel="Warn" writeTo="sentry" />-->
  </rules>
</nlog>