<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target name="logfile" xsi:type="File" fileName="logs/${date:format=yyyy-MM-dd}.log" encoding="UTF8"
            header="================ ${date:format=yyyy-MM-dd APPLICATION LOG} ================"
            layout="${date:format=yyyy-MM-dd hh\:mm\:ss}|${level:uppercase=true}|${logger}+${callsite:className=false:includeSourcePath=false:methodName=true:cleanNamesOfAnonymousDelegates=true:cleanNamesOfAsyncContinuations=true}|${message}${onexception:inner=${newline}${newline}======== Start of exception stacktrace ========${newline}${InvariantCulture:${exception:format=tostring}}${newline}======== End of exception stacktrace ========${newline}}"/>
    <target name="logconsole" xsi:type="ColoredConsole"
            layout="[${date:format=hh\:mm\:ss}] ${logger}+${callsite:className=false:includeSourcePath=false:methodName=true:cleanNamesOfAnonymousDelegates=true:cleanNamesOfAsyncContinuations=true}: ${message}${onexception:inner=${newline}${exception:format=tostring}}">
      <highlight-row condition="level == LogLevel.Fatal" foregroundColor="White" backgroundColor="Red"/>
      <highlight-row condition="level == LogLevel.Error" foregroundColor="Red" backgroundColor="Black"/>
      <highlight-row condition="level == LogLevel.Warn" foregroundColor="DarkYellow" backgroundColor="Black"/>
      <highlight-row condition="level == LogLevel.Info" foregroundColor="Gray" backgroundColor="Black"/>
      <highlight-row condition="level == LogLevel.Debug" foregroundColor="DarkGray" backgroundColor="Black"/>
    </target>
  </targets>
  <rules>
    <logger name="*" minlevel="Debug" writeTo="logconsole" />
    <logger name="*" minlevel="Info" writeTo="logfile" />
  </rules>
</nlog>