<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DMSkin.Core" version="2.5.1.1" targetFramework="net461" />
  <package id="DMSkin.WPF" version="2.5.1.1" targetFramework="net461" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net452" />
  <package id="FFME.Windows" version="4.0.270" targetFramework="net461" developmentDependency="true" />
  <package id="FFmpeg.AutoGen" version="4.1.0.2" targetFramework="net461" />
  <package id="Hardcodet.NotifyIcon.Wpf" version="1.0.8" targetFramework="net452" />
  <package id="HoLLy.osu.DatabaseReader" version="2.1.0" targetFramework="net452" />
  <package id="MouseKeyHook" version="5.6.0" targetFramework="net452" />
  <package id="NAudio" version="1.8.5" targetFramework="net461" />
  <package id="NAudio.Vorbis" version="1.0.0.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="12.0.1" targetFramework="net461" />
  <package id="NVorbis" version="0.8.6" targetFramework="net461" />
  <package id="osu.Shared" version="1.0.3" targetFramework="net461" />
  <package id="SharpDX" version="4.2.0" targetFramework="net452" />
  <package id="SharpDX.Direct2D1" version="4.2.0" targetFramework="net452" />
  <package id="SharpDX.DXGI" version="4.2.0" targetFramework="net452" />
  <package id="SharpDX.Mathematics" version="4.2.0" targetFramework="net452" />
  <package id="SharpDX.XAudio2" version="4.2.0" targetFramework="net452" />
  <package id="System.Data.SQLite" version="1.0.109.2" targetFramework="net461" />
  <package id="System.Data.SQLite.Core" version="1.0.109.2" targetFramework="net461" />
  <package id="System.Data.SQLite.EF6" version="1.0.109.0" targetFramework="net452" />
  <package id="System.Data.SQLite.EF6.Migrations" version="1.0.106" targetFramework="net461" />
  <package id="System.Data.SQLite.Linq" version="1.0.109.0" targetFramework="net452" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" />
</packages>