<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DMSkin.Core" version="2.5.1.1" targetFramework="net461" />
  <package id="DMSkin.WPF" version="2.5.1.1" targetFramework="net461" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net461" />
  <package id="FFME.Windows" version="4.0.270" targetFramework="net461" developmentDependency="true" />
  <package id="FFmpeg.AutoGen" version="4.1.0.2" targetFramework="net461" />
  <package id="Hardcodet.NotifyIcon.Wpf" version="1.0.8" targetFramework="net452" />
  <package id="HoLLy.osu.DatabaseReader" version="2.1.0" targetFramework="net461" />
  <package id="Markdig" version="0.15.5" targetFramework="net461" />
  <package id="Markdig.Wpf" version="0.2.6" targetFramework="net461" />
  <package id="Microsoft.Packaging.Tools.Trimming" version="1.1.0-preview1-26619-01" targetFramework="net461" />
  <package id="MouseKeyHook" version="5.6.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="12.0.1" targetFramework="net461" />
  <package id="osu.Shared" version="1.0.3" targetFramework="net461" />
  <package id="Sentry" version="1.1.2" targetFramework="net461" />
  <package id="Sentry.PlatformAbstractions" version="1.0.0" targetFramework="net461" />
  <package id="Sentry.Protocol" version="1.0.3" targetFramework="net461" />
  <package id="System.Collections.Immutable" version="1.5.0" targetFramework="net461" />
  <package id="System.Data.SQLite" version="1.0.109.2" targetFramework="net461" />
  <package id="System.Data.SQLite.Core" version="1.0.109.2" targetFramework="net461" />
  <package id="System.Data.SQLite.EF6" version="1.0.109.0" targetFramework="net461" />
  <package id="System.Data.SQLite.Linq" version="1.0.109.0" targetFramework="net461" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" />
</packages>