<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dapper" version="2.0.35" targetFramework="net472" />
  <package id="Dapper.FluentMap" version="1.8.0" targetFramework="net461" />
  <package id="FFME.Windows" version="4.2.320" targetFramework="net472" developmentDependency="true" />
  <package id="FFmpeg.AutoGen" version="4.2.0" targetFramework="net472" />
  <package id="Hardcodet.NotifyIcon.Wpf" version="1.0.8" targetFramework="net452" />
  <package id="HoLLy.osu.DatabaseReader" version="2.1.1" targetFramework="net461" />
  <package id="Markdig" version="0.18.0" targetFramework="net461" />
  <package id="Markdig.Wpf" version="0.3.1" targetFramework="net461" />
  <package id="MouseKeyHook" version="5.6.0" targetFramework="net452" />
  <package id="NAudio" version="1.10.0" targetFramework="net472" />
  <package id="NAudio.Vorbis" version="1.2.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net461" />
  <package id="NLog" version="4.7.0" targetFramework="net472" />
  <package id="NVorbis" version="0.10.0" targetFramework="net472" />
  <package id="osu.Shared" version="1.0.3" targetFramework="net461" />
  <package id="Sentry" version="1.2.0" targetFramework="net461" />
  <package id="Sentry.PlatformAbstractions" version="1.0.0" targetFramework="net461" />
  <package id="Sentry.Protocol" version="1.0.6" targetFramework="net461" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.Collections.Immutable" version="1.7.0" targetFramework="net472" />
  <package id="System.Data.SQLite.Core" version="1.0.112.1" targetFramework="net472" />
  <package id="System.Memory" version="4.5.4" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.7.1" targetFramework="net472" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
  <package id="System.Windows.Interactivity.WPF" version="2.0.20525" targetFramework="net461" />
</packages>